header /* głowa - górna część strony*/
{
    background-image: url("plan.png");
    margin: 0,auto,0,auto;   
    background-repeat: no-repeat;
    background-position: 50%;
}


body /* dotyczy wszystkiego*/
{
    background-color: burlywood;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: white;

}


h1 /* nagłówek */
{
    font-size: 30px;
}
h1 div /* zmienia funkcję div nagłówka h1 */
{
    padding-top: 250px;
    display:flex;
    justify-content: space-around;
}


h2 /* nagłówek nr2 */
{
    color: firebrick;
    font-size: 28px;
    height: 100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display:flex;
    justify-content:space-around

}
h2 span{
    background-color: chartreuse;
    border: 5px solid black;
    padding: 15px;
    margin-top: 80px; 
}


section /* obszar 0 */
{
    background-color:thistle;
    border: 5px solid black;
    padding: 5px;
    display:flex;
    justify-content: space-around;

}
.selection-span /* klasa wykorzystywana do mnienienia funkcji span obszaru 0 (przyciski na pasku) */
{
    border: 3px solid royalblue;
    border-radius: 25%;
    padding: 15px;
    margin: 0 auto 0 auto; 
    background-color:yellow;
    color: black;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    box-shadow:5px 0 10px gray;
}
.selection-span:hover /*  obaszar 0 najechanie kursorem na przycisk */
{
    color: white;
    background-color: tomato;
}
.selection-span:active/* ( obaszar 0 przyciśnięcie przycisku */
{
   text-decoration: underline;

}


section1 /* obaszar 1 strona główna pod wyborem pory dnia */
{

    background-color:tomato;
    border: 20px solid black;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    display:flex;

}
section1 span {
    color: green;
    width: 50%;
}


sectiondown /* obaszar na dole strony */
{
    background-color:black;
    color:white;
    display:flex;
}

